<mat-toolbar class="toolbar">
  <!-- Anzahl der Flugzeuge -->
  <div id="counter-aircraft">
    {{ counterAircraft }}
  </div>

  <!-- Logo der App -->
  <img
    mat-card-image
    src="../../../favicon.ico"
    style="width: 2rem; margin: 0%"
  />

  <!-- Abstandhalter -->
  <span class="spacer"></span>

  <!-- Abstandhalter -->
  <span class="spacer"></span>

  <!-- Tabelle mit Flugzeugen -->
  <app-aircraft-table [darkMode]="darkMode"></app-aircraft-table>

  <!-- Einstellungs-Menu -->
  <app-settings [darkMode]="darkMode"></app-settings>
</mat-toolbar>
