.toolbar {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
  background-color: black;
  color: white;
  height: 3.5rem;
  visibility: visible;
}

.input {
  color: rgb(61, 61, 61);
  border: none;
  border-radius: 0.3rem;
  background-color: lightgrey;
  padding: 0.6rem;
  margin: 0%;
  width: 15rem;
  line-height: normal;
  font-size: 1rem;
  height: 2.6rem;
}

.spacer {
  flex: 1 1 auto;
}

#counter-aircraft {
  position: absolute;
  z-index: 1000;
  font-size: 0.8rem;
  font-weight: bold;
  width: 2.5em;
  height: 1.5em;
  box-sizing: initial;
  background: #fff;
  border: 0.1em solid rgb(0, 0, 0);
  color: #000;
  text-align: center;
  border-radius: 10%;
  line-height: 2em;
  box-sizing: content-box;
  margin-left: 1rem;
  margin-top: 1rem;
}
