# configuration file for airsquitter mappings
hex=hex
latitude=lat
longitude=lon
altitude=alt
track=trk
type=typ
registration=reg
speed=spd
squawk=squ
flightId=fli
verticalRate=vrt
category=cat
temperature=tmp
windSpeed=wsp
windFromDirection=wdi
destination=dst
origin=org
distance=dis
autopilotEngaged=ape
elipsoidalAltitude=altg
selectedQnh=qnhs
selectedAltitude=alts
selectedHeading=hdgs
feeder=airsquitter
lastSeen=lla
source=ava