<!-- Einstellungen-Button mit Einstellungs-Menu -->
<button
  mat-icon-button
  (click)="showSettingsDiv = !showSettingsDiv"
  aria-label="Settings icon"
>
  <mat-icon>settings</mat-icon>
</button>

<!-- Einstellungs-Menü Desktop -->
<div
  [ngClass]="
    darkMode
      ? 'background-and-color-dark settingsDiv'
      : 'background-and-color-light settingsDiv'
  "
  *ngIf="showSettingsDiv"
  [style.width]="settingsDivWidth"
>
  <mat-tab-group
    [disablePagination]="true"
    [dynamicHeight]="true"
    [disableRipple]="true"
    animationDuration="0ms"
    (click)="$event.stopPropagation()"
  >
    <!-- Tab Map-Eintellungen -->
    <mat-tab label="Map">
      <div style="padding: 0.5rem">
        <h3>Planes</h3>

        <mat-slide-toggle
          [checked]="showAircraftLabels"
          (click)="$event.stopPropagation()"
          (change)="toggleAircraftLabels($event)"
          >Aircraft Labels</mat-slide-toggle
        >

        <div>
          <mat-slide-toggle
            [checked]="showPOMDPoint"
            (click)="$event.stopPropagation()"
            (change)="togglePOMDPoint($event)"
            >Toggle POMD-Feature</mat-slide-toggle
          >
        </div>

        <!-- Select, um Flugzeuge nach Feeder zu selektieren (default: Alle Feeder) -->
        <p class="info-text">
          Select planes by feeder: (By default all feeders are displayed)
        </p>
        <div style="display: flex; justify-content: center">
          <mat-form-field appearance="fill">
            <mat-label>Feeder</mat-label>
            <mat-select
              multiple
              [formControl]="selectedFeederArray"
              [disableRipple]="true"
              (selectionChange)="selectPlanesByFeeder()"
              [multiple]="false"
              [value]="0"
            >
              <mat-option value="AllFeeder">All feeder</mat-option>
              <mat-option
                *ngFor="let feeder of listFeeder"
                [value]="feeder.name"
                [disabled]="feeder.disabled"
                >{{ feeder.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>

          <div>
            <button
              mat-icon-button
              (click)="refreshSelectedFeeder()"
              aria-label="Refresh icon"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>

        <h3 style="padding-top: 0rem">Airports</h3>
        <mat-slide-toggle
          [checked]="showAirports"
          (click)="$event.stopPropagation()"
          (change)="toggleAirports($event)"
          >Airport Labels</mat-slide-toggle
        >

        <h3 style="padding-top: 1rem">Opensky-Network</h3>
        <mat-slide-toggle
          [checked]="showOpenskyPlanes"
          [disabled]="!openskyCredentialsExist"
          (click)="$event.stopPropagation()"
          (change)="toggleOpenskyPlanes($event)"
          >Fetch from Opensky-Network</mat-slide-toggle
        >

        <h3 style="padding-top: 1rem">ISS</h3>
        <mat-slide-toggle
          [checked]="showIss"
          (click)="$event.stopPropagation()"
          (change)="toggleIss($event)"
          >ISS</mat-slide-toggle
        >
        <div mat-dialog-actions>
          <button
            mat-button
            [disabled]="!showIss"
            style="background-color: gray; color: white"
            (click)="toggleCenterMapOnIss()"
          >
            Show ISS
          </button>
        </div>

        <h3 style="padding-top: 1rem">General</h3>

        <!-- Aktuelle Geräte-Position -->
        <p class="info-text">
          Click on the button to set the current device position to use it for
          distance and POMD results
        </p>
        <div
          mat-dialog-actions
          style="margin-top: 0.5rem; margin-bottom: 0.5rem"
        >
          <button
            mat-button
            style="background-color: gray; color: white"
            (click)="setCurrentDevicePosition()"
          >
            Set Device Position
          </button>
        </div>

        <!-- Toggle Geräte-Position als Basis für Berechnungen -->
        <div>
          <p class="info-text">
            Set device position as basis for range rings, distance calculation
            and POMD-feature
          </p>
          <mat-slide-toggle
            [checked]="devicePositionAsBasis"
            (click)="$event.stopPropagation()"
            (change)="toggleDevicePositionAsBasis($event)"
            >Device Position as basis for calculations</mat-slide-toggle
          >
        </div>

        <!-- Dark mode -->
        <div>
          <mat-slide-toggle
            [checked]="darkMode"
            (click)="$event.stopPropagation()"
            (change)="toggleDarkMode($event)"
            >Dark Mode</mat-slide-toggle
          >
        </div>

        <!-- WebGL -->
        <div>
          <mat-slide-toggle
            [checked]="webgl"
            [disabled]="webglNotSupported"
            (click)="$event.stopPropagation()"
            (change)="toggleWebgl($event)"
            >WebGL</mat-slide-toggle
          >
        </div>
      </div>
    </mat-tab>

    <!-- Tab Statistik-Eintellungen -->
    <mat-tab label="Statistics">
      <div style="padding: 0.5rem">
        <h3>Range Data</h3>
        <!-- Toggle, um RangeData aus- oder einzublenden (initial disabled) -->
        <div>
          <mat-slide-toggle
            [disabled]="disableRangeData"
            [checked]="hideRangeData"
            (click)="$event.stopPropagation()"
            (change)="toggleHideRangeData($event)"
            >hide range data</mat-slide-toggle
          >
        </div>

        <!-- Toggle, um RangeData nach Feeder farblich anzuzeigen-->
        <div>
          <mat-slide-toggle
            [checked]="markRangeDataByFeeder"
            (click)="$event.stopPropagation()"
            (change)="toggleMarkRangeDataByFeeder($event)"
            >mark range data by feeder</mat-slide-toggle
          >
        </div>

        <!-- Toggle, um RangeData nach Höhe farblich anzuzeigen-->
        <div>
          <mat-slide-toggle
            [checked]="markRangeDataByHeight"
            (click)="$event.stopPropagation()"
            (change)="toggleMarkRangeDataByHeight($event)"
            >mark range data by height</mat-slide-toggle
          >
        </div>

        <!-- Select, um Range Data nach Feeder zu selektieren (default: Alle Feeder)-->
        <p class="info-text">
          Select range data by feeder: (If no feeder is selected range data of
          all feeder are shown)
        </p>
        <div style="display: flex; justify-content: center">
          <mat-form-field appearance="fill">
            <mat-label>Feeder</mat-label>
            <mat-select
              multiple
              [formControl]="selectedFeederArray"
              [disabled]="disableRangeData"
              [disableRipple]="true"
              (selectionChange)="selectRangeDataByFeeder()"
            >
              <mat-option
                *ngFor="let feeder of listFeeder"
                [value]="feeder.name"
                [disabled]="feeder.disabled"
                >{{ feeder.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Info-Text -->
        <p class="info-text">
          Please specify the desired period for which the range data should be
          displayed
        </p>

        <h4 style="margin-top: 1rem; margin-bottom: 0">Selected times:</h4>
        <p *ngIf="timesAsDateStrings && timesAsDateStrings[0]">
          StartTime: {{ timesAsDateStrings[0] }}
        </p>
        <p *ngIf="timesAsDateStrings && timesAsDateStrings[1]">
          EndTime: {{ timesAsDateStrings[1] }}
        </p>
        <p *ngIf="!timesAsDateStrings">StartTime: /</p>
        <p *ngIf="!timesAsDateStrings">EndTime: /</p>

        <h4 style="margin-top: 1rem; margin-bottom: 0">Predefined times:</h4>

        <!-- Button-Toggles, um vordefinierte Zeiträume für die Range Data auszuwählen -->
        <div style="display: flex; justify-content: center">
          <button
            mat-stroked-button
            style="background-color: white; color: black; font-style: normal"
            value="current-hour"
            (click)="showRangeDataLastHour()"
          >
            Last Hour
          </button>
          <button
            mat-stroked-button
            style="background-color: white; color: black; font-style: normal"
            (click)="showRangeDataToday()"
          >
            Today
          </button>
          <button
            mat-stroked-button
            style="background-color: white; color: black; font-style: normal"
            (click)="showRangeDataLastSevenDays()"
          >
            Last 7 Days
          </button>
        </div>

        <h4 style="margin-top: 1rem; margin-bottom: 0">
          Pick your own time slot:
        </h4>

        <!-- Picker, um Start- und Endzeit für die Zeitspanne der
          anzuzeigenden Range Data auszuwählen -->
        <div class="time-picker">
          <!-- Starttime -->
          <mat-form-field style="width: 80%">
            <input
              matInput
              [(ngModel)]="times[0]"
              [ngxMatDatetimePicker]="picker"
              placeholder="Starttime"
              [formControl]="dateControlStart"
              [min]="minDate"
              [max]="maxDate"
              [disabled]="disabled"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker
              [showSpinners]="showSpinners"
              [showSeconds]="showSeconds"
              [stepHour]="stepHour"
              [stepMinute]="stepMinute"
              [stepSecond]="stepSecond"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
              [disableMinute]="disableMinute"
              [hideTime]="hideTime"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>

        <div class="time-picker">
          <!-- Endtime -->
          <mat-form-field style="width: 80%">
            <input
              matInput
              [(ngModel)]="times[1]"
              [ngxMatDatetimePicker]="picker2"
              placeholder="Endtime"
              [formControl]="dateControlEnd"
              [min]="minDate"
              [max]="maxDate"
              [disabled]="disabled"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="$any(picker2)"
            ></mat-datepicker-toggle>
            <ngx-mat-datetime-picker
              #picker2
              [showSpinners]="showSpinners"
              [showSeconds]="showSeconds"
              [stepHour]="stepHour"
              [stepMinute]="stepMinute"
              [stepSecond]="stepSecond"
              [touchUi]="touchUi"
              [color]="color"
              [enableMeridian]="enableMeridian"
              [disableMinute]="disableMinute"
              [hideTime]="hideTime"
            >
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </div>

        <!-- Endtime -->
        <div mat-dialog-actions>
          <button
            mat-button
            style="background-color: gray; color: white"
            (click)="showRangeDataBetweenCustomTimestamps()"
          >
            Show data
          </button>
        </div>
      </div>
    </mat-tab>

    <!-- Tab About -->
    <mat-tab label="About">
      <div style="padding: 0.5rem">
        <h3>About</h3>
        <div>
          <!-- Logo -->
          <img
            mat-card-image
            src="../../../favicon.ico"
            style="
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 3rem;
              margin-top: 1rem;
            "
          />

          <p style="display: flex; justify-content: center; height: 1.5rem">
            <!-- App-Name -->
            {{ appName }}
          </p>

          <p
            style="
              display: flex;
              justify-content: center;
              height: 1.5rem;
              font-size: 0.8rem;
            "
          >
            <!-- App-Version -->
            Version {{ appVersion }}
          </p>

          <p
            style="
              display: flex;
              justify-content: center;
              height: 1.5rem;
              margin-bottom: 2rem;
            "
          >
            <!-- Entwickler -->
            made by RexKramer1 and amnesica
          </p>
        </div>

        <h3 style="padding-top: 1rem">Debug</h3>
        <!-- Ip-Addresse des Clients -->
        <p class="info-text">Client-IP: {{ clientAddress }}</p>

        <!-- Ip-Addresse des Servers -->
        <p class="info-text">Server-IP: {{ serverAddress }}</p>

        <!-- Button zum Anzeigen der Debug-Logs -->
        <div mat-dialog-actions style="padding-top: 0.5rem">
          <button mat-button style="background-color: gray">
            <!-- Hinweis: Nur im production-Mode wird der Link richtig aufgerufen -->
            <a
              href="/getLogs"
              onclick="javascript:event.target.port=8080"
              target="_blank"
              style="color: white; text-decoration: none"
            >
              Show logs
            </a>
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
