<!-- Einstellungen-Button mit Einstellungs-Menu -->
<button
  mat-icon-button
  (click)="showSettingsDiv = !showSettingsDiv"
  aria-label="Settings icon"
>
  <mat-icon>settings</mat-icon>
</button>

<!-- Einstellungs-Menü Desktop -->
<div
  [ngClass]="
    darkMode
      ? 'background-and-color-dark settingsDiv'
      : 'background-and-color-light settingsDiv'
  "
  *ngIf="showSettingsDiv"
  [style.width]="settingsDivWidth"
  [@slideInOutRight]
>
  <mat-tab-group
    [disablePagination]="true"
    [dynamicHeight]="true"
    [disableRipple]="true"
    animationDuration="0ms"
    (click)="$event.stopPropagation()"
  >
    <!-- Tab Map-Eintellungen -->
    <mat-tab label="Map">
      <div style="padding: 0.5rem">
        <h3>Planes</h3>

        <!-- Select, um Flugzeuge nach Feeder zu selektieren (default: Alle Feeder) -->
        <div style="display: flex; justify-content: center">
          <mat-form-field
            appearance="fill"
            style="width: 100%; margin-left: 1rem"
          >
            <mat-label>Select planes by feeder</mat-label>
            <mat-select
              [(ngModel)]="selectedFeeder"
              (selectionChange)="selectPlanesByFeeder()"
              multiple
            >
              <mat-option *ngFor="let feeder of listFeeder" [value]="feeder">{{
                feeder.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div
            style="display: flex; justify-content: center; margin-top: 0.3rem"
          >
            <button
              mat-icon-button
              (click)="refreshSelectedFeeder()"
              aria-label="Refresh icon"
            >
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
        </div>

        <mat-slide-toggle
          [checked]="showAircraftPositions"
          (click)="$event.stopPropagation()"
          (change)="toggleAircraftPositions($event)"
          >Aircraft Positions</mat-slide-toggle
        >

        <mat-slide-toggle
          [checked]="showAircraftLabels"
          (click)="$event.stopPropagation()"
          (change)="toggleAircraftLabels($event)"
          >Aircraft Labels</mat-slide-toggle
        >

        <mat-slide-toggle
          [checked]="showOpenskyPlanes"
          [disabled]="!openskyCredentialsExist"
          (click)="$event.stopPropagation()"
          (change)="toggleOpenskyPlanes($event)"
          >Fetch from Opensky-Network</mat-slide-toggle
        >

        <div style="display: flex; justify-content: start; align-items: center">
          <mat-slide-toggle
            [checked]="showIss"
            (click)="$event.stopPropagation()"
            (change)="toggleIss($event)"
            >ISS</mat-slide-toggle
          >
          <div mat-dialog-actions style="margin-left: 8.5rem">
            <button
              mat-button
              [disabled]="!showIss"
              style="background-color: gray; color: white"
              (click)="toggleCenterMapOnIss()"
            >
              Show ISS
            </button>
          </div>
        </div>

        <mat-slide-toggle
          [checked]="showOnlyMilitaryPlanes"
          (click)="$event.stopPropagation()"
          (change)="toggleShowOnlyMilitaryPlanes($event)"
          >Show only military</mat-slide-toggle
        >

        <mat-slide-toggle
          [checked]="showPOMDPoint"
          (click)="$event.stopPropagation()"
          (change)="togglePOMDPoint($event)"
          >Toggle POMD-Feature</mat-slide-toggle
        >

        <!-- WebGL -->
        <mat-slide-toggle
          [checked]="webgl"
          [disabled]="webglNotSupported"
          (click)="$event.stopPropagation()"
          (change)="toggleWebgl($event)"
          >WebGL</mat-slide-toggle
        >

        <mat-divider style="margin-bottom: 0"></mat-divider>

        <div style="display: flex; justify-content: start; max-height: 2rem">
          <mat-slider min="0.5" max="10" step="0.1">
            <input
              matSliderThumb
              [(ngModel)]="sliderGlobalIconSizeValue"
              (input)="onInputChangeGlobalIconSize($event)"
            />
          </mat-slider>
          <p
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              max-height: 2rem;
              padding-top: 0.6rem;
            "
          >
            Global Icon Size ({{ sliderGlobalIconSizeValue }})
          </p>
        </div>

        <div style="display: flex; justify-content: start; max-height: 2rem">
          <mat-slider min="0.1" max="10" step="0.1">
            <input
              matSliderThumb
              [(ngModel)]="sliderSmallIconSizeValue"
              (input)="onInputChangeSmallIconSize($event)"
            />
          </mat-slider>
          <p
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              max-height: 2rem;
              padding-top: 0.6rem;
            "
          >
            Small Icon Size ({{ sliderSmallIconSizeValue }})
          </p>
        </div>

        <div
          style="
            display: flex;
            justify-content: flex-start;
            margin-top: 0.7rem;
            margin-left: 0.4rem;
          "
        >
          <button
            mat-button
            style="background-color: gray; color: white"
            (click)="resetIconSizeSlider()"
          >
            Reset Icon Sizes
          </button>
        </div>

        <h3 style="margin-top: 1rem">General</h3>

        <!-- Select, um Map-Stil auszuwählen (default: OSM) -->
        <div style="display: flex; justify-content: center">
          <mat-form-field
            appearance="fill"
            style="width: 100%; margin-left: 1rem; margin-right: 1rem"
          >
            <mat-label>Map style</mat-label>
            <mat-select
              multiple
              [formControl]="selectedMapsArray"
              [disableRipple]="true"
              (selectionChange)="changeMapStyle()"
              [multiple]="false"
              [(ngModel)]="selectedMapStyleValue"
            >
              <mat-option
                *ngFor="let map of listAvailableMaps"
                [value]="map.name"
                >{{ map.name }}</mat-option
              >
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Dark mode -->
        <div>
          <mat-slide-toggle
            [checked]="darkMode"
            (click)="$event.stopPropagation()"
            (change)="toggleDarkMode($event)"
            >Dark Mode</mat-slide-toggle
          >
        </div>

        <!-- Dim map -->
        <div>
          <mat-slide-toggle
            [checked]="dimMap"
            (click)="$event.stopPropagation()"
            (change)="toggleDimMap($event)"
            >Dim Map</mat-slide-toggle
          >
        </div>

        <!-- Dark static features -->
        <div>
          <mat-slide-toggle
            [checked]="darkStaticFeatures"
            (click)="$event.stopPropagation()"
            (change)="toggleDarkStaticFeatures($event)"
            >Dark Static Features</mat-slide-toggle
          >
        </div>

        <mat-slide-toggle
          [checked]="showAltitudeChart"
          (click)="$event.stopPropagation()"
          (change)="toggleAltitudeChart($event)"
          >Show Altitude Chart</mat-slide-toggle
        >

        <mat-slide-toggle
          [checked]="showAirports"
          (click)="$event.stopPropagation()"
          (change)="toggleAirports($event)"
          >Airport Labels</mat-slide-toggle
        >

        <div style="display: flex; justify-content: start; max-height: 2rem">
          <mat-slider min="0.1" max="1" step="0.1">
            <input
              matSliderThumb
              [(ngModel)]="sliderCesiumResolutionValue"
              (input)="onInputChangeCesiumResolutionValue($event)"
            />
          </mat-slider>
          <p
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              max-height: 2rem;
              padding-top: 0.6rem;
            "
          >
            Resolution 3D-Map ({{ sliderCesiumResolutionValue }})
          </p>
        </div>

        <mat-divider></mat-divider>

        <!-- Aktuelle Geräte-Position -->
        <div
          mat-dialog-actions
          style="
            display: flex;
            justify-content: space-around;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
          "
        >
          <button
            mat-button
            style="background-color: gray; color: white"
            (click)="setCurrentDevicePosition()"
          >
            Set Device Pos.
          </button>
          <button
            mat-button
            style="background-color: gray; color: white"
            (click)="deleteCurrentDevicePosition()"
          >
            Delete Device Pos.
          </button>
        </div>

        <!-- Toggle Geräte-Position als Basis für Berechnungen -->
        <div>
          <mat-slide-toggle
            [checked]="devicePositionAsBasis"
            (click)="$event.stopPropagation()"
            (change)="toggleDevicePositionAsBasis($event)"
          >
            <p class="info-text">
              Device Position as basis for range rings, distance calculation and
              POMD-feature
            </p>
          </mat-slide-toggle>
        </div>

        <h3 style="margin-top: 1rem">Weather</h3>

        <!-- Rainviewer (Rain) -->
        <div>
          <mat-slide-toggle
            [checked]="rainViewerRain"
            [disabled]="rainViewerRainForecast"
            (click)="$event.stopPropagation()"
            (change)="toggleRainViewerRain($event)"
            >Radar (Rainviewer)</mat-slide-toggle
          >
        </div>

        <!-- Rainviewer (Rain forecast) -->
        <div>
          <mat-slide-toggle
            [checked]="rainViewerRainForecast"
            [disabled]="rainViewerRain"
            (click)="$event.stopPropagation()"
            (change)="toggleRainViewerRainForecast($event)"
            >Radar Forecast (Rainviewer)</mat-slide-toggle
          >
        </div>

        <!-- Rainviewer (Clouds) -->
        <div>
          <mat-slide-toggle
            [checked]="rainViewerClouds"
            (click)="$event.stopPropagation()"
            (change)="toggleRainViewerClouds($event)"
            >Clouds (Rainviewer)</mat-slide-toggle
          >
        </div>
      </div>
    </mat-tab>

    <!-- Tab Statistik-Eintellungen -->
    <mat-tab label="Statistics">
      <div style="padding: 0.5rem">
        <h3>Range Data</h3>
        <!-- Toggle, um RangeData aus- oder einzublenden (initial disabled) -->
        <div>
          <mat-slide-toggle
            [disabled]="disableRangeData"
            [checked]="hideRangeData"
            (click)="$event.stopPropagation()"
            (change)="toggleHideRangeData($event)"
            >Hide range data</mat-slide-toggle
          >
        </div>

        <!-- Toggle, um RangeData nach Feeder farblich anzuzeigen-->
        <div>
          <mat-slide-toggle
            [checked]="markRangeDataByFeeder"
            (click)="$event.stopPropagation()"
            (change)="toggleMarkRangeDataByFeeder($event)"
            >Mark range data by feeder</mat-slide-toggle
          >
        </div>

        <!-- Toggle, um RangeData nach Höhe farblich anzuzeigen-->
        <div>
          <mat-slide-toggle
            [checked]="markRangeDataByHeight"
            (click)="$event.stopPropagation()"
            (change)="toggleMarkRangeDataByHeight($event)"
            >Mark range data by height</mat-slide-toggle
          >
        </div>

        <!-- Select, um Range Data nach Feeder zu selektieren -->
        <div style="display: flex; justify-content: center">
          <mat-form-field appearance="fill">
            <mat-label>Select range data by feeder</mat-label>
            <mat-select
              [(ngModel)]="selectedFeederRangeData"
              (selectionChange)="selectRangeDataByFeeder()"
              multiple
            >
              <mat-option *ngFor="let feeder of listFeeder" [value]="feeder">{{
                feeder.name
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Info-Text -->
        <p class="info-text">
          Please specify the desired period for which the range data should be
          displayed
        </p>

        <h4 style="margin-top: 1rem; margin-bottom: 0">Selected times:</h4>
        <p *ngIf="timesAsDateStrings && timesAsDateStrings[0]">
          StartTime: {{ timesAsDateStrings[0] }}
        </p>
        <p *ngIf="timesAsDateStrings && timesAsDateStrings[1]">
          EndTime: {{ timesAsDateStrings[1] }}
        </p>
        <p *ngIf="!timesAsDateStrings">StartTime: /</p>
        <p *ngIf="!timesAsDateStrings">EndTime: /</p>

        <h4 style="margin-top: 1rem; margin-bottom: 0">Predefined times:</h4>

        <!-- Button-Toggles, um vordefinierte Zeiträume für die Range Data auszuwählen -->
        <div style="display: flex; justify-content: center">
          <button
            mat-stroked-button
            style="background-color: white; color: black; font-style: normal"
            value="current-hour"
            (click)="showRangeDataLastHour()"
          >
            Last Hour
          </button>
          <button
            mat-stroked-button
            style="background-color: white; color: black; font-style: normal"
            (click)="showRangeDataToday()"
          >
            Today
          </button>
          <button
            mat-stroked-button
            style="background-color: white; color: black; font-style: normal"
            (click)="showRangeDataLastSevenDays()"
          >
            Last 7 Days
          </button>
        </div>

        <h4 style="margin-top: 1rem; margin-bottom: 0">
          Pick your own time slot:
        </h4>

        <!-- Picker, um Start- und Endzeit für die Zeitspanne der
          anzuzeigenden Range Data auszuwählen -->
        <div class="time-picker">
          <!-- Starttime -->
          <mat-form-field>
            <mat-label>Starttime</mat-label>
            <mtx-datetimepicker
              #datetimeStart
              [type]="type"
              [mode]="mode"
              [multiYearSelector]="multiYearSelector"
              [startView]="startView"
              [twelvehour]="twelvehour"
              [timeInterval]="timeInterval"
              [touchUi]="touchUi"
              [timeInput]="timeInput"
              (selectedChanged)="selectedStarttime = $event"
            ></mtx-datetimepicker>
            <input [mtxDatetimepicker]="datetimeStart" matInput required />
            <mtx-datetimepicker-toggle
              [for]="datetimeStart"
              matSuffix
            ></mtx-datetimepicker-toggle>
          </mat-form-field>
        </div>

        <div class="time-picker">
          <!-- Endtime -->
          <mat-form-field>
            <mat-label>Endtime</mat-label>
            <mtx-datetimepicker
              #datetimeEnd
              [type]="type"
              [mode]="mode"
              [multiYearSelector]="multiYearSelector"
              [startView]="startView"
              [twelvehour]="twelvehour"
              [timeInterval]="timeInterval"
              [touchUi]="touchUi"
              [timeInput]="timeInput"
              (selectedChanged)="selectedEndtime = $event"
            ></mtx-datetimepicker>
            <input [mtxDatetimepicker]="datetimeEnd" matInput required />
            <mtx-datetimepicker-toggle
              [for]="datetimeEnd"
              matSuffix
            ></mtx-datetimepicker-toggle>
          </mat-form-field>
        </div>

        <!-- Submit chosen date and time -->
        <div mat-dialog-actions>
          <button
            mat-button
            style="background-color: gray; color: white"
            (click)="showRangeDataBetweenCustomTimestamps()"
          >
            Show data
          </button>
        </div>
      </div>
    </mat-tab>

    <!-- Tab About -->
    <mat-tab label="About">
      <div style="padding: 0.5rem">
        <h3>About</h3>
        <div>
          <!-- Logo -->
          <img
            mat-card-image
            src="../../../favicon.ico"
            style="
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 3rem;
              margin-top: 1rem;
            "
          />

          <p style="display: flex; justify-content: center; height: 1.5rem">
            <!-- App-Name -->
            {{ appName }}
          </p>

          <p
            style="
              display: flex;
              justify-content: center;
              height: 1.5rem;
              font-size: 0.8rem;
            "
          >
            <!-- App-Version -->
            Version {{ appVersion }}
          </p>

          <p
            style="
              display: flex;
              justify-content: center;
              height: 1.5rem;
              margin-bottom: 2rem;
            "
          >
            <!-- Entwickler -->
            made by RexKramer1 and amnesica
          </p>
        </div>

        <h3 style="padding-top: 1rem">Debug</h3>
        <!-- Ip-Addresse des Clients -->
        <p class="info-text">Client-IP: {{ clientAddress }}</p>

        <!-- Ip-Addresse des Servers -->
        <p class="info-text">Server-IP: {{ serverAddress }}</p>

        <!-- Button zum Anzeigen der Debug-Logs -->
        <div mat-dialog-actions style="padding-top: 0.5rem">
          <button mat-button style="background-color: gray">
            <!-- Hinweis: Nur im production-Mode wird der Link richtig aufgerufen -->
            <a
              href="/getLogs"
              onclick="javascript:event.target.port=8080"
              target="_blank"
              style="color: white; text-decoration: none"
            >
              Show logs
            </a>
          </button>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
