# configuration file of the beluga project (RELEASE)
# shown location with range rings on the map 
latitudeLocation=TODO
longitudeLocation=TODO

# ip addresses of the feeders with json output 
# (change type and amount of feeders accordingly!!)
ipFeeder1=TODO
ipFeeder2=TODO
#ipFeeder3=...

# type of feeder (currently supported: fr24feeder, airsquitter)
typeFeeder1=TODO
typeFeeder2=TODO
#typeFeeder3=...

# name of feeder which is later displayed
nameFeeder1=TODO
nameFeeder2=TODO
#nameFeeder3=...

# color of feeder to be displayed in statistical views
colorFeeder1=TODO
colorFeeder2=TODO
#colorFeeder3=...

# amount of feeders
amountFeeder=TODO

# boolean, if ISS (International space station) should be displayed (true or false)
showIss=true

# scale of aircraft icons (default is 1.3)
scaleIcons=1.3

# amount of range rings (if none should be displayed set 'numberOfRangeRings4=0')
numberOfRangeRings=4

# distances of range rings (in nautical miles)
circleDistanceOfRing1=50
circleDistanceOfRing2=100
circleDistanceOfRing3=150
circleDistanceOfRing4=200
#circleDistanceOfRing5=...




