<!-- Button, um Flugzeug-Tabelle anzuzeigen -->
<button
  mat-icon-button
  (click)="toggleShowAircraftTableDiv()"
  aria-label="aircraft table icon"
>
  <mat-icon>table_chart</mat-icon>
</button>

<!-- Flugzeug-Tabelle -->
<div
  *ngIf="showAircraftTableDiv"
  class="aircraft-table-div mat-app-background"
  [style.width]="showAircraftTableWidth"
  [style.margin-top]="marginTop"
  [style.margin-left]="margin"
  [style.margin-right]="margin"
  [style.margin-bottom]="margin"
  [style.border-radius]="borderRadius"
  [@slideInOutRight]
>
  <!-- Feld zum Filtern -->
  <mat-form-field class="form-field-filter" [style.width]="filterFieldWidth">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. A388"
      #input
    />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="aircraftList"
    matSort
    class="aircraft-table mat-app-background"
    [style.margin-top]="marginTop"
    [style.margin-left]="margin"
    [style.margin-right]="margin"
    [style.margin-bottom]="margin"
  >
    <!-- hex column -->
    <ng-container matColumnDef="hex">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Hex
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.hex">
          {{ aircraft.hex }}
        </p>
        <p *ngIf="!aircraft.hex">N/A</p>
      </td>
    </ng-container>

    <!-- flightId column -->
    <ng-container matColumnDef="flightId">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Callsign
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.flightId">
          {{ aircraft.flightId }}
        </p>
        <p *ngIf="!aircraft.flightId">N/A</p>
      </td>
    </ng-container>

    <!-- type column -->
    <ng-container matColumnDef="type">
      <th
        class="mat-header-colomn-row"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Type
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.type">
          {{ aircraft.type }}
        </p>
        <p *ngIf="!aircraft.type">N/A</p>
      </td>
    </ng-container>

    <!-- registration column -->
    <ng-container matColumnDef="registration">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Reg.
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.registration">
          {{ aircraft.registration }}
        </p>
        <p *ngIf="!aircraft.registration">N/A</p>
      </td>
    </ng-container>

    <!-- altitude column -->
    <ng-container matColumnDef="altitude">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Alt.<br />(ft)
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.altitude">{{ aircraft.altitude }}</p>
        <p *ngIf="!aircraft.altitude">N/A</p>
      </td>
    </ng-container>

    <!-- vert. speed column -->
    <ng-container matColumnDef="verticalRate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        V. Spd<br />
        (ft/min)
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.verticalRate != null">
          {{ aircraft.verticalRate }}
        </p>
        <p *ngIf="aircraft.verticalRate == null">N/A</p>
      </td>
    </ng-container>

    <!-- speed column -->
    <ng-container matColumnDef="speed">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Speed<br />(kn)
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.speed">{{ aircraft.speed }}</p>
        <p *ngIf="!aircraft.speed">N/A</p>
      </td>
    </ng-container>

    <!-- track column -->
    <ng-container matColumnDef="track">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Track<br />(°)
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.track != null">{{ aircraft.track }}</p>
        <p *ngIf="aircraft.track == null">N/A</p>
      </td>
    </ng-container>

    <!-- source current feeder  -->
    <ng-container matColumnDef="sourceCurrentFeeder">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Source
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.sourceCurrentFeeder != null">
          {{ aircraft.sourceCurrentFeeder }}
        </p>
        <p *ngIf="aircraft.sourceCurrentFeeder == null">N/A</p>
      </td>
    </ng-container>

    <!-- last seen column -->
    <ng-container matColumnDef="lastSeenPos">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Pos.<br />Seen(s)
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.lastSeenPos != null">{{ aircraft.lastSeenPos }}</p>
        <p *ngIf="aircraft.lastSeenPos == null">N/A</p>
      </td>
    </ng-container>

    <!-- feeder column -->
    <ng-container matColumnDef="feeder">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Feeder
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.feederList">
          {{ aircraft.feederList }}
        </p>
        <p *ngIf="!aircraft.feederList">N/A</p>
      </td>
    </ng-container>

    <!-- distance column -->
    <ng-container matColumnDef="distance">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        class="mat-header-colomn-row"
      >
        Dist.<br />(km)
      </th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
        style="text-align: right"
      >
        <p *ngIf="aircraft.distance">{{ aircraft.distance.toFixed(1) }}</p>
        <p *ngIf="!aircraft.distance">N/A</p>
      </td>
    </ng-container>

    <!-- dummy column -->
    <ng-container matColumnDef="dummy">
      <th mat-header-cell *matHeaderCellDef class="mat-header-colomn-row"></th>
      <td
        class="mat-cell-element"
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
        style="width: 2rem"
      ></td>
    </ng-container>

    <!-- sticky header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>
