<!-- Button, um Flugzeug-Tabelle anzuzeigen -->
<button
  mat-icon-button
  (click)="showAircraftTableDiv = !showAircraftTableDiv"
  aria-label="aircraft table icon"
>
  <mat-icon>table_chart</mat-icon>
</button>

<!-- Flugzeug-Tabelle -->
<div
  class="aircraft-table-div"
  [hidden]="!showAircraftTableDiv"
  [style.width]="showAircraftTableWidth"
>
  <!-- Feld zum Filtern -->
  <mat-form-field class="form-field-filter" [style.width]="filterFieldWidth">
    <mat-label>Filter</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. A388"
      #input
    />
  </mat-form-field>

  <table
    mat-table
    [dataSource]="aircraftList"
    matSort
    class="mat-elevation-z0 aircraft-table"
  >
    <!-- select column zur Auswahl einer Zeile -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        [class.selected]="aircraft.isMarked"
        style="line-height: 1rem"
      >
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(aircraft) : null"
          (change)="$event ? selectRow(aircraft) : null"
          [checked]="selection.isSelected(aircraft)"
          [aria-label]="checkboxLabel(aircraft)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- hex column -->
    <ng-container matColumnDef="hex">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Hex
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.hex">
          {{ aircraft.hex }}
        </p>
        <p *ngIf="!aircraft.hex">N/A</p>
      </td>
    </ng-container>

    <!-- operator country column -->
    <ng-container matColumnDef="operator-country">
      <th mat-header-cell *matHeaderCellDef style="line-height: 1rem">
        Country <br />
        Op.
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.regCodeName && aircraft.regCodeNameFlag">
          <span
            [innerHTML]="aircraft.regCodeNameFlag"
            style="font-size: larger; font-weight: bold"
          ></span>
        </p>
        <p *ngIf="!aircraft.regCodeName && !aircraft.regCodeNameFlag">N/A</p>
      </td>
    </ng-container>

    <!-- type column -->
    <ng-container matColumnDef="type">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Type
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.type">
          {{ aircraft.type }}
        </p>
        <p *ngIf="!aircraft.type">N/A</p>
      </td>
    </ng-container>

    <!-- registration column -->
    <ng-container matColumnDef="registration">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Reg.
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.registration">
          {{ aircraft.registration }}
        </p>
        <p *ngIf="!aircraft.registration">N/A</p>
      </td>
    </ng-container>

    <!-- altitude column -->
    <ng-container matColumnDef="altitude">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Alt.<br />(ft)
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.altitude">{{ aircraft.altitude }}</p>
        <p *ngIf="!aircraft.altitude">N/A</p>
      </td>
    </ng-container>

    <!-- vert. speed column -->
    <ng-container matColumnDef="verticalRate">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        V. Speed<br />
        (ft/min)
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.verticalRate != -9999999">
          {{ aircraft.verticalRate }}
        </p>
        <p *ngIf="aircraft.verticalRate == -9999999">N/A</p>
      </td>
    </ng-container>

    <!-- speed column -->
    <ng-container matColumnDef="speed">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Speed<br />(kn)
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.speed">{{ aircraft.speed }}</p>
        <p *ngIf="!aircraft.speed">N/A</p>
      </td>
    </ng-container>

    <!-- track column -->
    <ng-container matColumnDef="track">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Track<br />(°)
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.track != -1">{{ aircraft.track }}</p>
        <p *ngIf="aircraft.track == -1">N/A</p>
      </td>
    </ng-container>

    <!-- last seen column -->
    <ng-container matColumnDef="lastSeen">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Seen<br />(s)
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.lastSeen != -1">{{ aircraft.lastSeen }}</p>
        <p *ngIf="aircraft.lastSeen == -1">N/A</p>
      </td>
    </ng-container>

    <!-- feeder column -->
    <ng-container matColumnDef="feeder">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Feeder
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.feeder">
          {{ aircraft.feeder }}
        </p>
        <p *ngIf="!aircraft.feeder">N/A</p>
      </td>
    </ng-container>

    <!-- distance column -->
    <ng-container matColumnDef="distance">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        style="line-height: 1rem"
      >
        Dist.<br />(km)
      </th>
      <td
        mat-cell
        *matCellDef="let aircraft"
        (click)="$event ? selectRow(aircraft) : null"
        [class.selected]="aircraft.isMarked"
      >
        <p *ngIf="aircraft.distance">{{ aircraft.distance }}</p>
        <p *ngIf="!aircraft.distance">N/A</p>
      </td>
    </ng-container>

    <!-- sticky header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="selection.toggle(row)"
    ></tr>
  </table>
</div>
