# configuration file for adsb exchange feeder mappings
altitude=alt_geom
navModes=nav_modes
category=category
elipsoidalAltitude=alt_baro
emergency=emergency
feeder=adsbx
flightId=flight
hex=hex
ias=ias
lastSeen=seen_pos
latitude=lat
longitude=lon
mach=mach
magHeading=mag_heading
messages=messages
rssi=rssi
roll=roll
selectedAltitude=nav_altitude_mcp
selectedHeading=nav_heading
selectedQnh=nav_qnh
speed=gs
squawk=squawk
tas=tas
temperature=oat
track=track
trueHeading=true_heading
verticalRate=geom_rate
windFromDirection=wd
windSpeed=ws
source=type
