# configuration file for airsquitter mappings
altitude=alt
autopilotEngaged=ape
category=cat
destination=dst
distance=dis
elipsoidalAltitude=altg
feeder=airsquitter
flightId=fli
hex=hex
ias=ias
lastSeen=lla
latitude=lat
longitude=lon
magHeading=hdgm
origin=org
registration=reg
selectedAltitude=alts
selectedHeading=hdgs
selectedQnh=qnhs
source=ava
speed=spd
squawk=squ
tas=tas
temperature=tmp
track=trk
trueHeading=hdgt
type=typ
verticalRate=vrt
windFromDirection=wdi
windSpeed=wsp