# configuration file for adsb exchange feeder mappings
hex=hex
latitude=lat
longitude=lon
altitude=alt_baro
track=track
speed=gs
squawk=squawk
flightId=flight
verticalRate=geom_rate
category=category
elipsoidalAltitude=alt_geom
selectedQnh=nav_qnh
selectedAltitude=nav_altitude_mcp
selectedHeading=nav_heading
feeder=dump1090-fa
lastSeen=seen_pos