# configuration file for dump1090-fa feeder mappings
altitude=alt_baro
navModes=nav_modes
category=category
elipsoidalAltitude=alt_geom
emergency=emergency
feeder=dump1090-fa
flightId=flight
hex=hex
ias=ias
lastSeen=seen_pos
latitude=lat
longitude=lon
mach=mach
magHeading=mag_heading
messages=messages
roll=roll
rssi=rssi
selectedAltitude=nav_altitude_mcp
selectedHeading=nav_heading
selectedQnh=nav_qnh
speed=gs
squawk=squawk
tas=tas
track=track
trueHeading=true_heading
verticalRate=geom_rate
