# configuration file for Virtual Radar Server (JSON) feeder mappings
altitude=GAlt
destination=To
distance=Dst
elipsoidalAltitude=Alt
feeder=vrs
flightId=Call
hex=Icao
latitude=Lat
longitude=Long
onGround=Gnd
origin=From
registration=Reg
rssi=Sig
selectedAltitude=TAlt
selectedHeading=TTrk
selectedQnh=InHg
speed=Spd
squawk=Sqk
track=Trak
type=Type
verticalRate=Vsi
