# configuration file for Virtual Radar Server (JSON) feeder mappings
hex=Icao
latitude=Lat
longitude=Long
altitude=GAlt
track=Trak
speed=Spd
squawk=Sqk
flightId=Call
verticalRate=Vsi
elipsoidalAltitude=Alt
onGround=Gnd
selectedQnh=InHg
selectedAltitude=TAlt
selectedHeading=TTrk
feeder=VRS
destination=To
origin=From
distance=Dst
registration=Reg
type=Type
rssi=Sig
