<div id="app-cesium-buttons" style="height: 100%" [style.width]="widthMap3d">
  <button
    mat-button
    class="button-3d-map"
    id="closeButton3dMap"
    (click)="close3dMap()"
  >
    <mat-icon aria-hidden="false" aria-label="close window">close</mat-icon>
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="resetToNorthButton3dMap"
    (click)="resetToNorth3dMap()"
    title="Reset map to North"
  >
    <mat-icon
      style="rotate: -45deg"
      aria-hidden="false"
      aria-label="close window"
      >explore</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="showCockpitView3d"
    (click)="showCockpitView3d()"
    title="Enable/Disable cockpit mode"
  >
    <mat-icon aria-hidden="false" aria-label="close window"
      >flight_class</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="showCockpitModel3d"
    *ngIf="displayCockpitView3d && aircraft != null && aircraft.hex != 'ISS'"
    (click)="showCockpitModel3d()"
    title="Enable/Disable cockpit model"
  >
    <mat-icon aria-hidden="false" aria-label="close window">joystick</mat-icon>
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="followPlane3d"
    (click)="followUnfollowPlane3d()"
    title="Follow/Unfollow the marked aircraft"
  >
    <mat-icon aria-hidden="false" aria-label="close window"
      >jump_to_element</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="show3dMapFullscreen"
    (click)="show3dMapFullscreen()"
    [style.visibility]="!isDesktop ? 'hidden' : 'visible'"
  >
    <mat-icon
      *ngIf="!display3dMapFullscreen"
      aria-hidden="false"
      aria-label="close window"
      title="Enable fullscreen mode"
      >fullscreen</mat-icon
    >
    <mat-icon
      *ngIf="display3dMapFullscreen"
      aria-hidden="false"
      aria-label="close window"
      title="Disable fullscreen mode"
      >fullscreen_exit</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="showSettings"
    (click)="showSettingsOnMap()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="close window"
      title="Show/Hide settings for 3d map"
      >settings</mat-icon
    >
  </button>

  <div
    *ngIf="displaySettings"
    [@slideInOutBottom]
    [style.width]="widthMap3d"
    [ngClass]="
      (isDark$ | async) === true
        ? 'background-and-color-dark'
        : 'background-and-color-light'
    "
    id="settings3dDiv"
  >
    <div style="width: 100%; height: 2rem">
      <div
        style="
          height: 1.8rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: large;
          font-weight: bold;
          background: #2196f3;
          color: white;
          border-top-right-radius: 15px;
          border-bottom-right-radius: 0;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 0;
        "
      >
        <p>Settings for 3D map</p>
      </div>
      <!-- close button -->
      <button mat-button id="closeButton" (click)="closeSettings3d()">
        <mat-icon aria-hidden="false" aria-label="close window">close</mat-icon>
      </button>
    </div>

    <div style="padding-left: 1.5rem; display: grid">
      <mat-slide-toggle
        [checked]="displayGooglePhotorealistic3d"
        (click)="$event.stopPropagation()"
        (change)="toggleGooglePhotogrammatryOnMap($event.checked)"
        >Google Photogrammatry</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="displayOsmBuildings3d"
        (click)="$event.stopPropagation()"
        (change)="toggleOsmBuildingsOnMap($event.checked)"
        >OSM Buildings</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableClouds"
        (click)="$event.stopPropagation()"
        (change)="toggleCloudsOnMap($event.checked)"
        >Clouds</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableDayNightMap"
        (click)="$event.stopPropagation()"
        (change)="toggleDayNightLayerOnMap($event.checked)"
        >Day/Night Layer</mat-slide-toggle
      >

      <mat-divider></mat-divider>

      <!-- Button-Toggles, um vordefinierte Grafik-Einstellungen für Cesium auszuwählen -->
      <div
        style="
          display: flex;
          justify-content: left;
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        "
      >
        <button
          mat-raised-button
          class="button-rounded"
          color="primary"
          style="margin-right: 0.3rem"
          (click)="showLowGraphicSettings()"
        >
          Low
        </button>
        <button
          mat-raised-button
          class="button-rounded"
          color="primary"
          style="margin-right: 0.3rem"
          (click)="showMediumGraphicSettings()"
        >
          Medium
        </button>
        <button
          mat-raised-button
          class="button-rounded"
          color="primary"
          (click)="showHighGraphicSettings()"
        >
          High
        </button>
      </div>

      <mat-divider></mat-divider>

      <mat-slide-toggle
        [checked]="enableHdr3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleHdrOnMap($event.checked)"
        >HDR</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableLighting3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleLightingOnMap($event.checked)"
        >Lighting</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableAthmosphereLight3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleAthmosphereLightOnMap($event.checked)"
        >Athmosphere Lighting</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableShadows3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleShadowsOnMap($event.checked)"
        >Shadows</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableTerrainShadows3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleTerrainShadowsOnMap($event.checked)"
        >Terrain Shadows</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableAmbientOcclusion3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleAmbientOcclusionOnMap($event.checked)"
        >Ambient Occlusion</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableFog3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleFogOnMap($event.checked)"
        >Fog</mat-slide-toggle
      >

      <mat-slide-toggle
        [checked]="enableFxaa3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleFxaaOnMap($event.checked)"
        >FXAA (Fast Anti-aliasing)</mat-slide-toggle
      >

      <div style="display: flex; justify-content: start; max-height: 3rem">
        <mat-slider min="0" max="8" step="2" color="accent">
          <input
            matSliderThumb
            [(ngModel)]="sliderMsaa3dValue"
            (input)="onInputChangeMsaa3dSize($event)"
          />
        </mat-slider>
        <div
          style="
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 3rem;
            padding-left: 1rem;
          "
        >
          <p *ngIf="sliderMsaa3dValue > 0">
            MSAA (Anti-aliasing) {{ sliderMsaa3dValue }}x
          </p>
          <p *ngIf="sliderMsaa3dValue == 0">MSAA (Anti-aliasing) off</p>
        </div>
      </div>

      <mat-slide-toggle
        [checked]="enableDefaultResolution3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleDefaultResolutionOnMap($event.checked)"
        >Default Graphical Resolution</mat-slide-toggle
      >

      <mat-divider></mat-divider>

      <mat-slide-toggle
        [checked]="enableDebugInfo3dMap"
        (click)="$event.stopPropagation()"
        (change)="toggleDebugInfoOnMap($event.checked)"
        >Debug Info</mat-slide-toggle
      >
    </div>
  </div>
</div>
