<div id="app-cesium-buttons" style="height: 100%" [style.width]="widthMap3d">
  <button
    mat-button
    class="button-3d-map"
    id="closeButton3dMap"
    (click)="close3dMap()"
  >
    <mat-icon aria-hidden="false" aria-label="close window">close</mat-icon>
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="resetToNorthButton3dMap"
    (click)="resetToNorth3dMap()"
    title="Reset map to North"
  >
    <mat-icon
      style="rotate: -45deg"
      aria-hidden="false"
      aria-label="close window"
      >explore</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="show3dBuildings"
    (click)="show3dBuildings()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="close window"
      title="Enable/Disable OSM 3D buildings"
      >domain</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="showGooglePhotorealistic3D"
    (click)="showGooglePhotorealistic3D()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="close window"
      title="Enable/Disable Google Maps Photogrammatry"
      >photo_camera</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="showCockpitView3d"
    (click)="showCockpitView3d()"
    title="Enable/Disable cockpit mode"
  >
    <mat-icon aria-hidden="false" aria-label="close window"
      >flight_class</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="showCockpitModel3d"
    *ngIf="displayCockpitView3d && aircraft != null && aircraft.hex != 'ISS'"
    (click)="showCockpitModel3d()"
    title="Enable/Disable cockpit model"
  >
    <mat-icon aria-hidden="false" aria-label="close window">joystick</mat-icon>
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="followPlane3d"
    (click)="followUnfollowPlane3d()"
    title="Follow/Unfollow the marked aircraft"
  >
    <mat-icon aria-hidden="false" aria-label="close window"
      >jump_to_element</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="show3dMapFullscreen"
    (click)="show3dMapFullscreen()"
    [style.visibility]="!isDesktop ? 'hidden' : 'visible'"
  >
    <mat-icon
      *ngIf="!display3dMapFullscreen"
      aria-hidden="false"
      aria-label="close window"
      title="Enable fullscreen mode"
      >fullscreen</mat-icon
    >
    <mat-icon
      *ngIf="display3dMapFullscreen"
      aria-hidden="false"
      aria-label="close window"
      title="Disable fullscreen mode"
      >fullscreen_exit</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="enableHdr3dMap"
    (click)="enableHdr3dOnMap()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="close window"
      title="Enable/Disable HDR, allow anisotropic filter, max msaaSample value (requires high performance!)"
      >hdr_on</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="enableHighQualityMap"
    (click)="enableHighQualityOnMap()"
  >
    <img
      src="../../../assets/hq.svg"
      aria-hidden="false"
      aria-label="close window"
      title="Enable/Disable shadows, lighting"
    />
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="enableCloudsMap"
    (click)="enableCloudsOnMap()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="close window"
      title="Enable/Disable clouds"
      >cloud</mat-icon
    >
  </button>

  <button
    mat-button
    class="button-3d-map"
    id="enableDayNightMap"
    (click)="enableDayNightOnMap()"
  >
    <mat-icon
      aria-hidden="false"
      aria-label="close window"
      title="Enable/Disable day/night imaginery"
      >dark_mode</mat-icon
    >
  </button>
</div>
