# configuration file for adsb exchange feeder mappings
hex=hex
latitude=lat
longitude=lon
altitude=alt_geom
track=track
speed=gs
squawk=squawk
flightId=flight
verticalRate=geom_rate
category=category
temperature=oat
windSpeed=ws
windFromDirection=wd
elipsoidalAltitude=alt_baro
selectedQnh=nav_qnh
selectedAltitude=nav_altitude_mcp
selectedHeading=nav_heading
feeder=adsbx
lastSeen=seen_pos