<!-- Map -->
<div
  id="map_canvas"
  [style.background]="(isDark$ | async) === true ? 'black' : 'white'"
>
  <!-- Toolbar -->
  <app-toolbar></app-toolbar>

  <!-- Info, wenn Server nicht erreichbar ist und die Konfiguration fehlschlägt -->
  <p
    *ngIf="infoConfigurationFailureMessage"
    style="position: absolute; top: 4rem; left: 0.5rem; z-index: 50"
  >
    {{ infoConfigurationFailureMessage }}
  </p>

  <!-- Hover-Info-Box Variante (wird nur auf dem Desktop angezeigt) -->
  <mat-card
    id="smallInfoBox"
    *ngIf="showSmallInfo && hoveredAircraftObject"
    [style.top.px]="topValue"
    [style.left.px]="leftValue"
    [ngClass]="
      (isDark$ | async) === true
        ? 'background-and-color-dark'
        : 'background-and-color-light'
    "
  >
    <div *ngIf="hoveredAircraftObject">
      <mat-card-header id="hoveredAircraftPopupHeader">
        <!-- flightId -->
        <mat-card-title
          *ngIf="hoveredAircraftObject.flightId"
          style="color: #ffab40"
        >
          {{ hoveredAircraftObject.flightId }}
        </mat-card-title>
        <!-- hex -->
        <mat-card-subtitle
          *ngIf="hoveredAircraftObject.hex"
          style="color: #d5d5d5"
          >{{ hoveredAircraftObject.hex }}</mat-card-subtitle
        >
      </mat-card-header>

      <table>
        <ng-container *ngFor="let item of hoveredAircraftObject.attributes">
          <tr
            [ngClass]="
              (isDark$ | async) === true
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Popup für Outline-Data -->
  <mat-card
    id="outlineDataPopup"
    [style.bottom]="outlineDataPopupBottomValue"
    [ngClass]="
      (isDark$ | async) === true
        ? 'background-and-color-dark'
        : 'background-and-color-light'
    "
  >
    <div *ngIf="showOutlinePointPopup && outlineDataPoint">
      <mat-card-header id="outlineDataPopupHeader">
        <!-- flightId -->
        <mat-card-title
          *ngIf="outlineDataPoint.flightId"
          style="color: #ffab40"
        >
          {{ outlineDataPoint.flightId }}
        </mat-card-title>
        <!-- hex -->
        <mat-card-subtitle
          *ngIf="outlineDataPoint.hex"
          style="color: #d5d5d5"
          >{{ outlineDataPoint.hex }}</mat-card-subtitle
        >
      </mat-card-header>

      <table>
        <ng-container *ngFor="let item of outlineDataPoint.attributes">
          <tr
            [ngClass]="
              (isDark$ | async) === true
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Popup für AirportData -->
  <mat-card
    id="airportDataPopup"
    [style.bottom]="airportDataPopupBottomValue"
    [ngClass]="
      (isDark$ | async) === true
        ? 'background-and-color-dark'
        : 'background-and-color-light'
    "
  >
    <div *ngIf="airportDataPoint">
      <mat-card-header id="airportDataPopupHeader">
        <!-- airport icao -->
        <mat-card-title
          *ngIf="airportDataPoint.icao"
          style="
            color: #ffab40;
            font-size: 1.2rem;
            display: flex;
            align-self: center;
          "
        >
          {{ airportDataPoint.icao }}
          <a
            *ngIf="airportDataPoint.iata !== 'N/A'"
            id="airportDataSchedule"
            href="{{
              'https://www.avionio.com/en/airport/' +
                airportDataPoint.iata +
                '/arrivals'
            }}"
            target="_blank"
          >
            <mat-icon aria-hidden="false" style="color: #ffab40"
              >schedule</mat-icon
            ></a
          >
          <a
            *ngIf="airportDataPoint.icao"
            id="airportDataLinkOurAirports"
            href="{{
              'https://ourairports.com/airports/' + airportDataPoint.icao
            }}"
            target="_blank"
          >
            <mat-icon aria-hidden="false" style="color: #ffab40"
              >link</mat-icon
            ></a
          >
        </mat-card-title>
      </mat-card-header>

      <table>
        <ng-container *ngFor="let item of airportDataPoint.attributes">
          <tr
            [ngClass]="
              (isDark$ | async) === true
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Popup für AisData -->
  <mat-card
    id="aisDataPopup"
    [style.bottom]="aisDataPopupBottomValue"
    [ngClass]="
      (isDark$ | async) === true
        ? 'background-and-color-dark'
        : 'background-and-color-light'
    "
  >
    <div *ngIf="aisDataPoint">
      <mat-card-header id="aisDataPopupHeader">
        <mat-card-title
          *ngIf="aisDataPoint.title"
          style="
            color: #ffab40;
            font-size: 1.2rem;
            display: flex;
            align-self: center;
          "
        >
          {{ aisDataPoint.title }}
          <a
            *ngIf="aisDataPoint.link"
            id="airportDataLinkOurAirports"
            href="{{ aisDataPoint.link }}"
            target="_blank"
          >
            <mat-icon aria-hidden="false" style="color: #ffab40"
              >link</mat-icon
            ></a
          >
        </mat-card-title>
      </mat-card-header>

      <div style="margin-top: 0%; position: relative; overflow: hidden">
        <img
          *ngIf="aisDataPoint && aisDataPoint.photoUrl != null"
          mat-card-image
          [src]="aisDataPoint.photoUrl"
          style="
            margin: 0%;
            position: relative;
            display: flex;
            align-items: flex-start;
            height: auto;
            width: auto;
            max-height: 13rem;
            cursor: default;
          "
        />

        <!-- Anzeige der Bildquelle -->
        <div
          *ngIf="aisDataPoint && aisDataPoint.photoUrl != null"
          style="
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0.8rem;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1rem;
            background: rgba(0, 0, 0, 0.15);
            color: #fff;
            width: 100%;
          "
        >
          <span
            *ngIf="aisDataPoint && aisDataPoint.photoUrl != null"
            style="font-size: 0.8rem"
          >
            © VesselFinder</span
          >

          <a
            *ngIf="aisDataPoint && aisDataPoint.photoUrl != null"
            href="{{ aisDataPoint.link }}"
            target="_blank"
            style="display: flex; align-self: center"
          >
            <mat-icon aria-hidden="false" style="color: #fff">link</mat-icon></a
          >
        </div>
      </div>

      <table>
        <ng-container *ngFor="let item of aisDataPoint.attributes">
          <tr
            [ngClass]="
              (isDark$ | async) === true
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                (isDark$ | async) === true
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Info-Box -->
  <app-info
    (showRouteEvent)="receiveToggleShowAircraftRoute($event)"
    (show3dMapEvent)="receiveToggleShow3dMap()"
    id="aircraft-info"
    *ngIf="displayAircraftInfo"
    @dummyParentAnimation
  ></app-info>

  <!-- Altitude-Chart -->
  <div id="altitude_chart" class="ol-unselectable ol-control">
    <div *ngIf="(isDark$ | async) === true">
      <img src="../../../assets/altitude_chart_dark.svg" alt="altitude chart" />
    </div>
    <div *ngIf="(isDark$ | async) !== true">
      <img src="../../../assets/altitude_chart.svg" alt="altitude chart" />
    </div>
  </div>

  <!-- Cesium-3d-Map -->
  <app-cesium
    id="cesium-map"
    *ngIf="display3dMap && cesiumIonDefaultAccessToken"
    [aircraft]="aircraft"
    [cesiumIonDefaultAccessToken]="cesiumIonDefaultAccessToken"
    [style.width]="cesiumMapWidth"
    [style.margin-top]="cesiumMapMarginTop"
    [style.margin-left]="cesiumMapMargin"
    [style.margin-right]="cesiumMapMargin"
    [style.margin-bottom]="cesiumMapMargin"
    [style.border-radius]="cesiumMapBorderRadius"
    @dummyParentAnimation
    [@slideInOutRight]
  ></app-cesium>
</div>
