<!-- Map -->
<div id="map_canvas">
  <!-- Toolbar -->
  <app-toolbar [darkMode]="darkMode"></app-toolbar>

  <!-- Info, wenn Server nicht erreichbar ist und die Konfiguration fehlschlägt -->
  <p
    *ngIf="infoConfigurationFailureMessage"
    style="position: absolute; top: 4rem; left: 0.5rem; z-index: 2000"
  >
    {{ infoConfigurationFailureMessage }}
  </p>

  <!-- Hover-Info-Box Variante (wird nur auf dem Desktop angezeigt) -->
  <mat-card
    id="smallInfoBox"
    *ngIf="showSmallInfo && hoveredAircraft"
    [style.top.px]="topValue"
    [style.left.px]="leftValue"
    [ngClass]="
      darkMode ? 'background-and-color-dark' : 'background-and-color-light'
    "
  >
    <div *ngIf="hoveredAircraft">
      <mat-card-header id="hoveredAircraftPopupHeader">
        <!-- flightId -->
        <mat-card-title *ngIf="hoveredAircraft.flightId" style="color: #f8c023">
          {{ hoveredAircraft.flightId }}
        </mat-card-title>
        <!-- hex -->
        <mat-card-subtitle *ngIf="hoveredAircraft.hex" style="color: #d5d5d5">{{
          hoveredAircraft.hex
        }}</mat-card-subtitle>
      </mat-card-header>

      <table>
        <ng-container *ngFor="let item of hoveredAircraft.attributes">
          <tr
            [ngClass]="
              darkMode
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                darkMode
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                darkMode
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Popup für RangeData -->
  <mat-card
    id="rangeDataPopup"
    [style.bottom]="rangeDataPopupBottomValue"
    [ngClass]="
      darkMode ? 'background-and-color-dark' : 'background-and-color-light'
    "
  >
    <div *ngIf="showPopupRangeDataPoint && rangeDataPoint">
      <mat-card-header id="rangeDatPopupHeader">
        <!-- flightId -->
        <mat-card-title *ngIf="rangeDataPoint.flightId" style="color: #f8c023">
          {{ rangeDataPoint.flightId }}
        </mat-card-title>
        <!-- hex -->
        <mat-card-subtitle *ngIf="rangeDataPoint.hex" style="color: #d5d5d5">{{
          rangeDataPoint.hex
        }}</mat-card-subtitle>
      </mat-card-header>

      <table>
        <ng-container *ngFor="let item of rangeDataPoint.attributes">
          <tr
            [ngClass]="
              darkMode
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                darkMode
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                darkMode
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Popup für AirportData -->
  <mat-card
    id="airportDataPopup"
    [style.bottom]="airportDataPopupBottomValue"
    [ngClass]="
      darkMode ? 'background-and-color-dark' : 'background-and-color-light'
    "
  >
    <div *ngIf="airportDataPoint">
      <mat-card-header id="airportDataPopupHeader">
        <!-- flightId -->
        <mat-card-title *ngIf="airportDataPoint.icao" style="color: #f8c023">
          {{ airportDataPoint.icao }}
        </mat-card-title>
      </mat-card-header>

      <table>
        <ng-container *ngFor="let item of airportDataPoint.attributes">
          <tr
            [ngClass]="
              darkMode
                ? 'background-and-color-dark airportDataPopup-tr-dark'
                : 'background-and-color-light color-grey'
            "
          >
            <td
              [ngClass]="
                darkMode
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light color-grey'
              "
            >
              <div>
                <p style="font-size: small; padding-inline: 0.5rem">
                  {{ item.key }}
                </p>
              </div>
            </td>

            <td
              [ngClass]="
                darkMode
                  ? 'background-and-color-dark airportDataPopup-td-dark'
                  : 'background-and-color-light'
              "
            >
              <div>
                <p
                  style="
                    font-size: small;
                    font-weight: bold;
                    padding-inline: 0.5rem;
                  "
                >
                  {{ item.value }}
                </p>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </mat-card>

  <!-- Info-Box -->
  <app-info
    (showRouteEvent)="receiveToggleShowAircraftRoute($event)"
    id="aircraft-info"
    *ngIf="displayAircraftInfo"
    [aircraft]="aircraft"
    [darkMode]="darkMode"
  ></app-info>

  <!-- Altitude-Chart -->
  <div id="altitude_chart" class="ol-unselectable ol-control">
    <img src = "../../../assets/altitude_chart.svg" alt="altitude chart"/>
  </div>
</div>
